###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               imobso
        alias                   imobso
        address                 imobso.teamrpc.info
        }




###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# ping check
define service{
       use				generic-service
       host_name                       imobso
       service_description             PING
       check_command			check_ping!100.0,20%!500.0,60%
       }


define service{
       use				generic-service
       host_name                       imobso
       service_description             HTTP
       check_command			check_url!http://imobso.teamrpc.info
       }

define service{
      use				generic-service
      host_name			imobso
      service_description		DNS check
      check_command			check_dns_ip!imobso.teamrpc.info!104.207.143.110
      }
