###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               imobso
        alias                   imobso
        address                 myopenbazaar.top
        }




###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# ping check
define service{
       use				generic-service
       host_name                       imobso
       service_description             PING
       check_command			check_ping!100.0,20%!500.0,60%
       }


define service{
       use				generic-service
       host_name                       imobso
       service_description             HTTP
       check_command			check_url!http://myopenbazaar.top
       }

define service{
      use				generic-service
      host_name			imobso
      service_description		DNS check
      check_command			check_dns_ip!myopenbazaar.top!104.207.143.110
      }

define service{
       use				generic-service
       host_name                       imobso
       service_description             website content
       check_command			check_webpage!https://myopenbazaar.top/v1/online/a06aa22a38f0e62221ab74464c311bd88305f88c!short_description
       }
