
/**
 * people/machines/machinePeople to contact with notifications

define contact {
  contact_name                    chris
  host_notifications_enabled      1
  host_notification_period        24x7
  host_notification_options       d,u,r
  host_notification_commands      mail-host-notification

  service_notification_options    w,u,c,r
  service_notification_commands   mail-service-notification

  email                           "{{ icinga_admin_email }}"
}

*/
